# https://github.com/puppetlabs/puppetlabs-apache/blob/1c92e7a3fa91a9293ee2ea867a6bcd1be6298e17/.gitignore
pkg/
Gemfile.lock
Gemfile.local
vendor/
spec/fixtures/manifests/
spec/fixtures/modules/
log/
junit/
.vagrant/
.bundle/
coverage/
log/
.idea/
.metadata
*.iml
.*.sw[op]
.yardoc
.yardwarns
.DS_Store
tmp/
vendor/
doc/
