node 'manager_wazuh' {
  class { "wazuh::manager":}
}
node 'agent_wazuh' {
  class { "wazuh::agent":
        wazuh_register_endpoint => "manager_ip",
        wazuh_reporting_endpoint => "manager_ip"
  }
}

node default {
  notify { 'This node did not match any of the listed definitions': }
}

