node /^manager_elastic_licensed/ {
  class { 'wazuh::manager':
        } ->
  class { 'wazuh::filebeat':
        } ->
  class { 'wazuh::elasticsearch':
        } ->
  class { 'wazuh::kibana':
        }
}

node /^agent/ {
  class { 'wazuh::agent':
        wazuh_register_endpoint => 'manager_ip',
        wazuh_reporting_endpoint => 'manager_ip',
  }
}

node default {
  notify { 'This node did not match any of the listed definitions': }
}

